#dragover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #DC143C33;
  z-index: -1;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

#dragger {
  position: fixed;
  width: 31.5%;
  height: 31.5%;
  top: 68.5%;
  left: 0;
  right: 0;
  bottom: 0;
}

#embed {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}